body {
    font-family: Arial, sans-serif;
}

#upload-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

#file-input {
    margin: 20px 0;
}

#preview-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.preview {
    margin: 10px;
}

.preview img {
    max-width: 100px;
    max-height: 100px;
}

#progress-container {
    margin-top: 20px;
}